* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 144rem;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

:root {
  --color-xanhNhat: #2e80ce;
  --color-xanhDam: #10375c;
  --color-textP: #575f66;
  --color-trang: #ffffff;
}
a {
  text-decoration: none;
}

.btn {
  width: 20.5rem;
  height: 6rem;
  background-color: var(--color-xanhNhat);
  border-radius: 3rem;
  border: none;
  color: var(--color-trang);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
}

.btn:hover {
  background-color: var(--color-trang);
  color: var(--color-xanhNhat);
  cursor: pointer;
  outline: 1px solid var(--color-xanhNhat);
  transition: all 0.3s;
}

.btn:active {
  transform: scale(0.95);
}

.h2-text {
  font-size: 5rem;
  font-weight: 600;
  line-height: 6rem;
  color: var(--color-xanhDam);
}

.p-text {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3rem;
  color: var(--color-textP);
}

.header {
  background-color: var(--color-xanhDam);
}

.nav__content {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__logo {
  cursor: pointer;
}

.nav {
  /* max-width: calc(100% - 4.8rem); */
  max-width: 1440px;
  z-index: 10;
  padding: 2rem 0;
  position: sticky;
  top: 0px;
  background-color: var(--color-xanhDam);
}

.nav__list {
  display: flex;
}

.nav__link,
.nav__btn--login {
  color: #c9d2da;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.8rem;
  padding: 2rem;
}

.nav__btn--signup {
  display: inline-block;
  width: 10.4rem;
  height: 4.4rem;
  border-radius: 2.2rem;
  text-align: center;
  line-height: 4.4rem;
}

.nav__item {
  position: relative;
}

.nav__link:hover {
  color: var(--color-trang);
  text-shadow: 1px 0 0 currentColor;
}

.active::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--color-trang);
  border-radius: 50%;
  bottom: 1.2rem;
  left: 5px;
}

.section__content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 5rem 0;
  display: flex;
  /* justify-content: space-between; */
  gap: 10rem;
  align-items: center;
}

.section__content--left {
  max-width: 51.7rem;
  max-height: 42rem;
}

.section__content--left h1 {
  font-weight: 600;
  font-size: 7rem;
  line-height: 80px;
  color: var(--color-trang);
  padding-bottom: 20px;
}

.p-text-2 {
  color: #c9d2da;
  padding-bottom: 50px;
}

.section__content--leff-icon {
  display: flex;
  align-items: center;
}

.section__content--leff-icon {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #ffffff;
}

.btn2 {
  margin-right: 30px;
}

.section__content--right {
  max-width: 534px;
  max-height: 540px;
  position: relative;
}

.section__content--right-pic1 {
  max-width: 33rem;
  max-height: 54rem;
}

.section__content--right-pic1:hover,
.section__content--right-pic2:hover {
  transform: translateY(-20px);
  transition: all 0.3s;
}

.section__content--right-pic2 {
  max-width: 21rem;
  max-height: 41rem;
  position: absolute;
  top: 6rem;
}

/* CODE AI SERVICES */
.services-section {
  padding: 100px 0;
  text-align: center;
  background-color: #ffffff;
  max-width: 1170px;
  max-height: 778px;
  margin: 0 auto;
}

.services-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-list {
  text-align: left;
}

.service-item img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.service-item h3 {
  font-weight: 600;
  font-size: 1.8rem;
  color: #10375c;
  padding-bottom: 10px;
}

.service-item p {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.exception {
  max-width: 468px;
  max-height: 60px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.sercives-h2 {
  margin-bottom: 20px;
}

.services-content__img {
  max-width: 570px;
  max-height: 570px;
}

.service-item {
  width: 470px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: #eff6fd;
  margin: 0px 20px;
}

.service-item__icon--img {
  width: 60px;
  color: #10375c;
  margin-top: 30%;
}

.services-button {
  margin-top: 30px;
}

.service-item:hover {
  box-shadow: 0px 14px 28px 0px #0000000d;
  transition: 0.5s;
}

.service-item:hover .service-item__icon {
  background-color: var(--color-xanhNhat);
  transition: 0.5s;
}

.service-item:hover .service-item__icon--img {
  transition: 0.5s;
  color: var(--color-trang);
}

.works {
  max-width: 1440px;
  background-color: #f6fbff;
}

.works__size {
  max-width: 1170px;
  margin: 200px auto;
}

.works__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-bottom: 100px;
}

.works__h2 {
  padding: 60px 0 30px;
}

.works__p {
  max-width: 468px;
  padding: 0 0 60px;
}

.works__content--1 {
  width: 370px;
  height: 402px;
  border: 16px solid #eaf6ff;
  background-color: #ffffff;
}

.works__content--1 img {
  max-width: 72px;
  max-height: 72px;
}

.works__content--1 h3 {
  color: #10375c;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3.6rem;
}

.works__content--1 a {
  color: #575f66;
}

/* .works__content--1 p,
.works__content--1 h3 {
  padding: 15px 20px;
} */

.works__content--1 img {
  margin: 30px 20px 20px;
}

.works__content--1 h3,
.works__content--1 p,
.works__content--1 a {
  padding: 0 20px 20px;
}

.works__content--1:hover {
  border: #2e80ce 16px solid;
  transition: 0.5s;
  transform: translateY(-20px);
}

.works__content--1:hover a {
  color: #2e80ce;
}
